.navbar{
    height: 10vh;
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
}
.navbar .heading{
    color: #fff;
    text-decoration: none;
    font-size: 30px;
    font-weight: 600;
}
.auth-page-link{
    text-decoration: none;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border: 1px solid #000;
    color: #000;
    font-weight: 550;
    transition: all ease 0.3s;
    border-radius: 25px;
}
.auth-page-link:hover{
    background-color: #ffffff75;
    transform: scale(0.90);
}
.profile-page{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: contain;
    object-position: center;
}
.profile-photo-letter-nav-link{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: rgb(45, 45, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
}