.auth-page{
    display: flex;
    gap: 150px;
}
.post-sign-in-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.post-sign-in-content h1{
    font-size: 70px;
    font-weight: 800;
    color: rgb(12, 206, 12);
}
.go-to-home{
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: 10px;
    background-color: rgb(66, 66, 255);
    border-radius: 4px;
    color: #fff;
    font-weight: 550;
    font-size: 20px;
    text-decoration: none;
    transition: all ease 0.3s;
}
.go-to-home:hover{
    transform: scale(0.98);
    background-color: rgb(6, 6, 184);
}